<header>
    <%- include("../views/partials/header", {title:'Hi Bookie!'})-%>
</header>
<body>
    <%- include("../views/partials/navbar") %> 
</body>
<footer >
    <%- include("../views/partials/footer")-%>
</footer>
</html>