<header>
    <%- include("../views/partials/header", {title:'Sorry...'})-%>
    
</header>
<body>
    <%- include("../views/partials/navbar") %> 
    <h1>Ooops...</h1>
    <h5>Bu sayfayı yüklerken bir hata oluştu!</h5>
    <h6>Lütfen Ana Sayfaya dönün.</h6>
        <a class="btn btn-primary" href="/" role="button">Ana Sayfa</a>
      </div>
</body>
<footer >
    <%- include("../views/partials/footer")-%>
</footer>
</html>