<header>
    <%- include("../views/partials/header", {title:'Hi Bookie!'})-%>
</header>
<body>
    <%- include("../views/partials/navbar") %> 
    <h3>Merhaba</h3>
    <p>Bookworm'a hoşgeldin.</p>
</body>
<footer >
    <%- include("../views/partials/footer")-%>
</footer>
</html>