<header>
    <%- include("../views/partials/header", {title:'Hi Bookie!'})-%>
</header>
<body>
    <%- include("../views/partials/navbar") %> 
    <h1>Home Page</h1>
    <h3>Tamamlananlar:</h3>
    <p>
        Book için Route,Controller,Model,Views<br>
        Eklenmiş kitapları görüntüleme<br>
        Postman'den kitap verisi ekleme <br>
    </p>
    <h3>Devam edenler</h3>
    <p>
        User için Route,Controller,Model,Views,Partials oluşturuldu.<br>
        Eklenmiş kitapları görüntüleme<br>
        Postman'den kitap verisi ekleme <br>
    </p>
</body>
<footer >
    <%- include("../views/partials/footer")-%>
</footer>
</html>